body{
    background: #c3dfe3;/*fondo*/
    max-width: 1024px; /*ancho maximo*/
    margin: o auto;
}

body header{
    background: #439ba8;
    color: #FFF;/*color de letra*/
    text-align: center;
    padding: 10px;
}

body header h1{
    margin: 0 auto;
    font-weight: 700;
    text-shadow: 5px 5px grey;
}

body header nav ul li{
    display: inline-block;/*rompe caja*/
    background: #000000;
    color: #FFF;
    border-radius: 5px;
    padding: 5px;
    box-shadow: 5px 5px #FFF;
    margin: 0 20px;
}

body header nav ul li:hover{
    background: #FFF;
    color: #000000;
    box-shadow: 5px 5px #000000;
}

footer{
    background: #439ba8;
    height: 3px solid #000000;
}
#seccion1{
    background: #FFF;
    border: 3px solid #000000;
}